$enable-important-utilities: false; //this disables !important
@import "../node_modules/bootstrap/scss/bootstrap.scss";
// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    // font-family: var(--body2);
    // font-size: var(--body2-size);
    // font spacing
    // letter-spacing: 0.5px;
    // font-weight: 700;
}

// Testing

.div {
    flex: 1;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-xl);
    display: flex;
    flex-direction: row;
    max-width: 100%;
    .home-about-contact {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 var(--padding-smi);
        box-sizing: border-box;
        gap: var(--gap-5xl);
        max-width: 100%;
        text-align: left;
        font-size: var(--body2-size);
        color: var(--color-white);
        font-family: var(--body2);

        .navBarItems {
            position: relative;
            color: #fff;
            padding: 10px 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-decoration: none;
        }

        .navBarItems:hover {
            background-color: #392697;
        }
    }

    @media screen and (max-width: 1100px) {
        .home-about-contact {
            display: none;
        }
    }

    .loginBtn,
    .IconHolder {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .loginBtn {
        cursor: pointer;
        border: 0;
        text-decoration: none;
        padding: var(--padding-3xs);
        background-color: var(--color-white);
        height: 42px;
        flex: 1;
        border-radius: var(--br-mini);
        box-sizing: border-box;
    }
    .loginBtn:hover {
        background-color: var(--color-gainsboro);
    }

    .IconHolder {
        width: 204px;
        gap: 0 8px;

        .carticon,
        .searchicon {
            height: 40px;
            width: 40px;
            position: relative;
            object-fit: cover;
        }
    }
}

.app {
    background-color: var(--color-gray-100);
}

.w-600 {
    // font-size: 1.6rem;
    font-weight: 600;
    // margin: 1rem 0;
}

.s-16 {
    font-size: 1.6rem;
}

.font {
    // font-family: var(--body2);
    font-weight: 600;
}

.poppins {
    font-size: 1.5rem;
}

// https://react-bootstrap.netlify.app/docs/getting-started/theming

// ---------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------
// -- OVERRIDING BOOTSTRAP VARIABLES --
// -- OVERRIDING BOOTSTRAP VARIABLES --
// -- OVERRIDING BOOTSTRAP VARIABLES --

#overriding-bootstrap-css {
    .btn-primary {
        background-color: var(--blue2);
        border: none;
    }

    .btn-secondary {
        background-color: var(--blue3);
    }

    .btn-outline-primary {
        color: var(--blue2);
        border: 1px solid var(--blue2);
        border-radius: 5px;
    }

    .btn-outline-secondary {
        color: var(--blue3);
        border: 1px solid var(--blue3);
        border-radius: 5px;
    }

    .btn-check + .btn:hover {
        background-color: var(--blue4);
        color: #fff;
    }

    .btn-check:checked + .btn {
        color: #fff;
        background-color: var(--blue2);
        border-color: var(--blue2);
    }

    hr {
        border: 1px solid black;
        margin: 0;
    }

    .vr {
        border-left: 2px solid black;
        margin: 0 30px 0 10px;
        // height: 100%;
    }
}

// -- END OVERRIDING BOOTSTRAP VARIABLES END --
// -- END OVERRIDING BOOTSTRAP VARIABLES END --
// -- EMD OVERRIDING BOOTSTRAP VARIABLES END --
// ---------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------

.home-about-contact {
    .navBarItems {
        position: relative;
        color: #fff;
        padding: 10px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-decoration: none;
    }
}

// .btn-secondary {
//     background-color: var(--blue3) !important;
// }

.rating-overview-container {
    .write-review {
        width: 15%;
    }

    .vr-margin {
        display: inline-block;
        align-self: stretch;
        margin: 0 30px;
        width: 2px;
        min-height: 1em;
        background-color: black;
        opacity: 0.2;
    }

    .star-rating-container {
        .star-rating {
            .star {
                font-size: 3.5rem;
                // color: #ffc107;
            }

            .overall-rating {
                padding-right: 5px;
                font-size: 5.5rem;
                font-weight: 900;
            }
            .based-on-reviews {
                font-size: 1.2rem;
            }

            background: none;
        }
    }

    .rating-overview {
        .heading {
            font-size: 25px;
            margin-right: 25px;
        }

        .legend {
            display: flex;
            align-items: center;
            justify-content: center;

            .star-number {
                font-family: monospace;
            }

            .star-symbol {
                margin: 0 0px 0 4px;
                color: #ffc107;
            }

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .checked {
            color: #ffc107;
        }

        /* Three column layout */
        .side {
            float: left;
            width: 10%;
            padding: 0;
            // margin-top: 10px;
        }

        .middle {
            float: left;
            width: 80%;
            // height: 6px;
            // display: flex;
            margin-top: 8px;
        }

        /* Place text to the right */
        .right {
            text-align: right;
            padding: 0;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* The bar container */
        .bar-container {
            width: 100%;
            background-color: var(--color-gray-100);
            text-align: center;
            color: white;
            border-radius: 6px;
        }

        .bar {
            border-radius: 6px;
            height: 6px;
            background-color: var(--blue2);
        }

        /* Individual bars */
        .bar-5 {
            width: 60%;
        }
        .bar-4 {
            width: 30%;
        }
        .bar-3 {
            width: 10%;
        }
        .bar-2 {
            width: 4%;
        }
        .bar-1 {
            width: 15%;
        }

        /* Responsive layout - make the columns stack on top of each other instead of next to each other */
        @media (max-width: 400px) {
            .side,
            .middle {
                width: 100%;
            }
            /* Hide the right column on small screens */
            .right {
                display: none;
            }
        }
    }
}

.review-container-stack {
    .star-rating-container {
        padding: 0;
    }

    .like-button-container {
        // padding: 1px 0;

        .like-button {
            line-height: 1;
            padding: 2px 4px;
            display: flex;
            align-items: center;
            justify-content: center;

            .like-count {
                padding-left: 4px;
            }
        }

        .like-icon {
            font-size: 1.5rem;
            // color: #127190;
            // border: 1px solid #127190;
        }
    }

    .main-review-body {
        .star-rating {
            background: none;
            justify-content: start;
            padding: 0;
        }

        .profile-pic-container {
            padding: 0 8px 0 0;

            .circle {
                margin: 0;
                width: 3rem;
                height: 3rem;
            }
        }
    }

    .user-name {
        padding: 0;
        font-size: 1.2rem;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    .date {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
    }

    .review-title-container {
        font-weight: 500;
    }

    .review-body {
        font-weight: 400;
        font-size: 1.2rem;
        text-align: left;
        padding-bottom: 5px;
    }

    .user-review {
        padding: 5px 0;
    }

    .column {
        // background-color: rgba(255, 192, 203, 0.057);
    }

    .review-container {
        .col-md-2,
        .col-md-1 {
            // background-color: rgba(255, 192, 203, 0.057);

            // background-color: pink;
        }
        // width: 500px !important;
        .container {
            max-width: 500px;
        }
    }
}

.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #127190;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    width: 20rem;
    max-width: 100%;
}

.productCard h2 {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    padding: 10px;
    background-color: rgb(130, 130, 153);
}

.input-field {
    display: block;
    padding: 1rem;
    background-color: #127190;
}

.link-route {
    padding: 0 1rem;
}

.main-container {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;

    box-shadow: 0.2px 0.2px 0.2px -13px rgba(0, 0, 0, 0.099),
        0.4px 0.4px 0.4px -13px rgba(0, 0, 0, 0.144),
        0.6px 0.6px 0.7px -13px rgba(0, 0, 0, 0.178),
        0.9px 0.9px 1px -13px rgba(0, 0, 0, 0.206),
        1.4px 1.4px 1.5px -13px rgba(0, 0, 0, 0.234),
        2px 2px 2.2px -13px rgba(0, 0, 0, 0.262),
        3px 3px 3.3px -13px rgba(0, 0, 0, 0.296),
        4.8px 4.8px 5.3px -13px rgba(0, 0, 0, 0.341),
        9px 9px 10px -13px rgba(0, 0, 0, 0.44);
}

.btn-primary {
    // background-color: var(--blue2) !important;
    border: none;
}

.variation-radio-buttons {
    .btn-outline-primary {
        margin: 0 6px;
    }
}

.circle {
    .profile {
        width: 100%; /* Ensure the image covers the whole circle */
        height: 100%;
        object-fit: cover;
    }

    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #828282;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem;
}

.seller-details-container {
    .seller-details {
        .view-seller {
            // padding: 1rem;
            border: none;
            background-color: var(--blue3);
        }

        display: flex;

        justify-content: start;
        align-items: start;
        padding: 1rem;
        // background-color: var(--blue3);
    }

    color: var(--blue);
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    text-align: center;
}

.product-ratings {
    padding-bottom: 1rem;

    .custom-horizontal-separator {
        display: inline-block;
        margin: 1rem 10px;
        width: 80%;
        height: 2px;
        background-color: black;
        opacity: 0.25;
    }

    .title {
        margin-bottom: 1rem;
    }
    color: var(--blue);
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    text-align: center;
    // padding: 1rem;
    // background-color: #127190;
}

.custom-breadcrumb {
    .breadcrumb {
        background-color: var(--color-gray-100);
        margin-top: 15px;
        margin-bottom: 10px;
    }
}

.star-rating {
    .rating {
        padding-right: 3px;
    }

    padding-right: 6px;
    display: flex;
    justify-content: end;
    align-items: center;

    border-radius: 5px;
    background: rgb(67, 9, 121);
    background: linear-gradient(
        90deg,
        rgba(67, 9, 121, 0) 45%,
        rgba(255, 222, 0, 0.5046393557422969) 100%
    );

    input[type="radio"] {
        display: none;
    }
}

.product-detail {
    .first-container {
        padding-top: 20px;
    }

    .image-container {
        // border-radius: 10px;
        img {
            // background-color: #e6e6e6;
        }
    }

    .details {
        .quantity-stack {
            input {
                width: 100px;
                // padding: 10px;
                text-align: center;
                border: 1px solid #127190;
                border-radius: 5px;
            }
            // display: flex;
            // justify-content: space-between;
            // align-items: center;
            // padding: 1rem;
            // background-color: #127190;
        }

        .product-price {
            color: rgb(191, 48, 0);
            font-size: 2.5rem;
            // padding: 10px;
            // background-color: var(--blue3);
        }

        .customer-buttons {
            // padding: 1rem;

            .buy-now {
                background-color: var(--blue2);
                border: none;
            }

            .add-to-cart {
                background-color: var(--blue3);
                border: none;
            }
        }

        .product-description {
            // same with product-sub-name
            font-size: 1.5rem;
        }

        color: var(--blue);
        // background-color: blue;
        // background-color: blue;
        padding: 10px;

        .product-name {
            line-height: 1;
            // background-color: violet;
            // text-wrap: wrap;
            // overflow: anywhere;
            word-break: break-all;
            font-weight: 900;
            font-size: 3rem;
        }

        .product-sub-name {
            line-height: 1;
            font-size: 2rem;
            font-weight: 500;
        }

        .rating-num,
        .sold-count {
            font-size: 1.4rem;
        }
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            // margin: 10px;
            border-radius: 10px;
        }
    }
    .mySwiper2 {
        width: 100%;
        height: 550px;
    }
    .mySwiper {
        width: 90%;
        height: 130px;
        margin-top: 10px;
        padding: 10px 0;

        .swiper-slide {
            width: 25%;
            height: 100%;
            opacity: 0.5;
            padding: 6px;
        }

        .swiper-slide-thumb-active {
            opacity: 1;
            padding: 0px;
        }
    }
}

/*# sourceMappingURL=App.scss.map */
