@import "bootstrap/dist/css/bootstrap.min.css";
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.div {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.div .home-about-contact {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-smi);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--body2-size);
  color: var(--color-white);
  font-family: var(--body2);
}
.div .home-about-contact .navBarItems {
  position: relative;
  color: #fff;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
.div .home-about-contact .navBarItems:hover {
  background-color: #392697;
}
@media screen and (max-width: 1100px) {
  .div .home-about-contact {
    display: none;
  }
}
.div .loginBtn,
.div .IconHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div .loginBtn {
  cursor: pointer;
  border: 0;
  text-decoration: none;
  padding: var(--padding-3xs);
  background-color: var(--color-white);
  height: 42px;
  flex: 1;
  border-radius: var(--br-mini);
  box-sizing: border-box;
}
.div .loginBtn:hover {
  background-color: var(--color-gainsboro);
}
.div .IconHolder {
  width: 204px;
  gap: 0 8px;
}
.div .IconHolder .carticon,
.div .IconHolder .searchicon {
  height: 40px;
  width: 40px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.app {
  background-color: var(--color-gray-100);
}

.w-600 {
  font-weight: 600;
}

.s-16 {
  font-size: 1.6rem;
}

.font {
  font-weight: 600;
}

.poppins {
  font-size: 1.5rem;
}

#overriding-bootstrap-css .modal {
  overflow: hidden;
}
#overriding-bootstrap-css .btn-primary {
  background-color: var(--blue2);
  border: none;
}
#overriding-bootstrap-css .btn-secondary {
  background-color: var(--blue3);
}
#overriding-bootstrap-css .btn-outline-primary {
  color: var(--blue2);
  border: 1px solid var(--blue2);
  border-radius: 5px;
}
#overriding-bootstrap-css .btn-outline-secondary {
  color: var(--blue3);
  border: 1px solid var(--blue3);
}
#overriding-bootstrap-css .btn-check + .btn:hover {
  background-color: var(--blue4);
  color: #fff;
}
#overriding-bootstrap-css .btn-check:checked + .btn {
  color: #fff;
  background-color: var(--blue2);
  border-color: var(--blue2);
}
#overriding-bootstrap-css hr {
  border: 1px solid black;
  margin: 0;
}
#overriding-bootstrap-css .vr {
  border-left: 2px solid black;
  margin: 0 30px 0 10px;
}

.cart-container .cart-item {
  background-color: pink;
}

.home-about-contact .navBarItems {
  position: relative;
  color: #fff;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.rating-overview-container .write-review {
  width: 15%;
}
.rating-overview-container .vr-margin {
  display: inline-block;
  align-self: stretch;
  margin: 0 30px;
  width: 2px;
  min-height: 1em;
  background-color: black;
  opacity: 0.2;
}
.rating-overview-container .star-rating-container .star-rating {
  background: none;
}
.rating-overview-container .star-rating-container .star-rating .star {
  font-size: 3.5rem;
}
.rating-overview-container .star-rating-container .star-rating .overall-rating {
  padding-right: 5px;
  font-size: 5.5rem;
  font-weight: 900;
}
.rating-overview-container .star-rating-container .star-rating .based-on-reviews {
  font-size: 1.2rem;
}
.rating-overview-container .rating-overview {
  /* Three column layout */
  /* Place text to the right */
  /* Clear floats after the columns */
  /* The bar container */
  /* Individual bars */
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
}
.rating-overview-container .rating-overview .heading {
  font-size: 25px;
  margin-right: 25px;
}
.rating-overview-container .rating-overview .legend {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating-overview-container .rating-overview .legend .star-number {
  font-family: monospace;
}
.rating-overview-container .rating-overview .legend .star-symbol {
  margin: 0 0px 0 4px;
  color: #ffc107;
}
.rating-overview-container .rating-overview .checked {
  color: #ffc107;
}
.rating-overview-container .rating-overview .side {
  float: left;
  width: 10%;
  padding: 0;
}
.rating-overview-container .rating-overview .middle {
  float: left;
  width: 80%;
  margin-top: 8px;
}
.rating-overview-container .rating-overview .right {
  text-align: right;
  padding: 0;
}
.rating-overview-container .rating-overview .row:after {
  content: "";
  display: table;
  clear: both;
}
.rating-overview-container .rating-overview .bar-container {
  width: 100%;
  background-color: var(--color-gray-100);
  text-align: center;
  color: white;
  border-radius: 6px;
}
.rating-overview-container .rating-overview .bar {
  border-radius: 6px;
  height: 6px;
  background-color: var(--blue2);
}
.rating-overview-container .rating-overview .bar-5 {
  width: 60%;
}
.rating-overview-container .rating-overview .bar-4 {
  width: 30%;
}
.rating-overview-container .rating-overview .bar-3 {
  width: 10%;
}
.rating-overview-container .rating-overview .bar-2 {
  width: 4%;
}
.rating-overview-container .rating-overview .bar-1 {
  width: 15%;
}
@media (max-width: 400px) {
  .rating-overview-container .rating-overview {
    /* Hide the right column on small screens */
  }
  .rating-overview-container .rating-overview .side,
  .rating-overview-container .rating-overview .middle {
    width: 100%;
  }
  .rating-overview-container .rating-overview .right {
    display: none;
  }
}

.review-container-stack .filter-buttons {
  margin-right: 1rem;
}
.review-container-stack .filter-rating-dropdown .dropdown-menu {
  --bs-dropdown-link-active-bg: var(--blue2);
}
.review-container-stack .col {
  padding: 4px 0;
}
.review-container-stack .star-rating-container {
  padding: 0;
}
.review-container-stack .like-button-container .like-button {
  line-height: 1;
  padding: 2px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.review-container-stack .like-button-container .like-button .like-count {
  padding-left: 4px;
}
.review-container-stack .like-button-container .like-icon {
  font-size: 1.5rem;
}
.review-container-stack .main-review-body .star-rating {
  background: none;
  justify-content: start;
  padding: 0;
}
.review-container-stack .main-review-body .profile-pic-container {
  padding: 0 8px 0 0;
}
.review-container-stack .main-review-body .profile-pic-container .circle {
  margin: 0;
  width: 3rem;
  height: 3rem;
}
.review-container-stack .user-name {
  padding: 0;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.review-container-stack .date {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.review-container-stack .review-title-container {
  font-weight: 500;
}
.review-container-stack .review-body {
  font-weight: 400;
  font-size: 1.2rem;
  text-align: left;
  padding-bottom: 5px;
}
.review-container-stack .user-review {
  padding: 5px 0;
  padding-bottom: 1rem;
}
.review-container-stack .review-container .container {
  max-width: 500px;
}

.login {
  position: relative;
  font-size: var(--body2-size);
  font-family: var(--body2);
  color: var(--blue);
  text-align: center;
  text-decoration: none;
  padding: 8px 17px 9px 17px;
}

.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #127190;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 20rem;
  max-width: 100%;
}

.productCard h2 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  padding: 10px;
  background-color: rgb(130, 130, 153);
}

.input-field {
  display: block;
  padding: 1rem;
  background-color: #127190;
}

.link-route {
  padding: 0 1rem;
}

.main-container {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0.2px 0.2px 0.2px -13px rgba(0, 0, 0, 0.099), 0.4px 0.4px 0.4px -13px rgba(0, 0, 0, 0.144), 0.6px 0.6px 0.7px -13px rgba(0, 0, 0, 0.178), 0.9px 0.9px 1px -13px rgba(0, 0, 0, 0.206), 1.4px 1.4px 1.5px -13px rgba(0, 0, 0, 0.234), 2px 2px 2.2px -13px rgba(0, 0, 0, 0.262), 3px 3px 3.3px -13px rgba(0, 0, 0, 0.296), 4.8px 4.8px 5.3px -13px rgba(0, 0, 0, 0.341), 9px 9px 10px -13px rgba(0, 0, 0, 0.44);
}

.variation-radio-buttons.btn-group .btn.btn-outline-primary {
  margin: 6px;
  border-radius: 6px;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #828282;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem;
}
.circle .profile {
  width: 100%; /* Ensure the image covers the whole circle */
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.seller-details-container {
  color: var(--blue);
  text-align: center;
}
.seller-details-container .seller-details {
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 1rem;
}
.seller-details-container .seller-details .view-seller {
  border: none;
  background-color: var(--blue3);
}

.product-ratings {
  padding-bottom: 1rem;
  color: var(--blue);
  text-align: center;
}
.product-ratings .custom-horizontal-separator {
  display: inline-block;
  margin: 1rem 10px;
  width: 80%;
  height: 2px;
  background-color: black;
  opacity: 0.25;
}
.product-ratings .title {
  margin-bottom: 1rem;
}

.custom-breadcrumb .breadcrumb {
  background-color: var(--color-gray-100);
  margin-top: 15px;
  margin-bottom: 10px;
}

.star-rating {
  padding-right: 6px;
  display: flex;
  justify-content: end;
  align-items: center;
  border-radius: 5px;
  background: rgb(67, 9, 121);
  background: linear-gradient(90deg, rgba(67, 9, 121, 0) 45%, rgba(255, 222, 0, 0.5046393557) 100%);
}
.star-rating .rating {
  padding-right: 3px;
}
.star-rating input[type=radio] {
  display: none;
}

.product-detail .first-container {
  padding-top: 20px;
}
.product-detail .details {
  color: var(--blue);
  padding: 10px;
}
.product-detail .details .order-quantity-stack .variation-class {
  font-weight: 600;
  padding: 0 10px 0 0;
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: left;
}
.product-detail .details .order-quantity-stack .quantity-input {
  font-size: 2rem;
  border-radius: 0;
  border-color: var(--blue3);
}
.product-detail .details .order-quantity-stack .plus-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.product-detail .details .order-quantity-stack .minus-button {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.product-detail .details .order-quantity-stack input {
  width: 100px;
  text-align: center;
  border: 1px solid #127190;
  border-radius: 5px;
}
.product-detail .details .product-price {
  color: rgb(191, 48, 0);
  font-size: 2.5rem;
}
.product-detail .details .customer-buttons .buy-now {
  background-color: var(--blue2);
  border: none;
}
.product-detail .details .customer-buttons .add-to-cart {
  background-color: var(--blue3);
  border: none;
}
.product-detail .details .product-description {
  font-size: 1.5rem;
}
.product-detail .details .product-name {
  line-height: 1;
  word-break: break-all;
  font-weight: 900;
  font-size: 3rem;
}
.product-detail .details .product-sub-name {
  line-height: 1;
  font-size: 2rem;
  font-weight: 500;
}
.product-detail .details .rating-num,
.product-detail .details .sold-count {
  font-size: 1.4rem;
}
.product-detail .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-detail .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.product-detail .mySwiper2 {
  width: 100%;
  height: 550px;
}
.product-detail .mySwiper {
  width: 90%;
  height: 130px;
  margin-top: 10px;
  padding: 10px 0;
}
.product-detail .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.5;
  padding: 6px;
}
.product-detail .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  padding: 0px;
}

/*# sourceMappingURL=App.css.map */