@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* @apply font-sans; */
    /* @apply p-4; */
    background-color: #eeeeee;
}

.mySwiper {
    /* padding: 10px 0; */
    width: 90%;

    .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.5;
    }

    .swiper-slide-thumb-active {
        opacity: 1;
    }
}
