.footer,
.signup {
  position: relative;
}
.footer {
  align-self: stretch;
  height: 253px;
  background-color: var(--blue);
}
.signup {
  width: 100%;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 70px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .signup {
    gap: 35px 0;
  }
}
@media screen and (max-width: 450px) {
  .signup {
    gap: 17px 0;
  }
}
