.footerItemsContainer {
    height: 317px;
    width: 1440px;
    position: relative;
    background-color: var(--blue);
    display: none;
}
.footerItemsContainer {
    max-width: 100%;
}

.represent-your,
.school-organization,
.in-style {
    margin: 0;
    user-select: none;
    height: 28px;
    position: relative;
    font-size: inherit;
    font-weight: 800;
    font-family: inherit;
    display: inline-block;
}
.style {
    color: var(--purple);
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-lgi);
    max-width: 100%;
}
.emailIcon {
    height: 27px;
    width: 31px;
    position: relative;
    object-fit: cover;
    min-height: 27px;
}
.tupmerchco {
    position: relative;
    font-weight: 300;
}
.emailContainer,
.containerItemsRight {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.emailContainer {
    flex-direction: row;
    gap: var(--gap-9xs);
    font-size: var(--footerfontlink-size);
}
.containerItemsRight {
    flex-direction: column;
    gap: var(--gap-25xl);
    max-width: 100%;
}
.facebookicon,
.instagramicon {
    height: 30px;
    width: 30px;
    position: relative;
    object-fit: cover;
    min-height: 30px;
}
.rightIconContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
}
.privacy-policy,
.terms-conditions {
    position: relative;
    font-weight: 300;
}
.containerItemsLeft,
.privacy-termContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-mini);
}
.containerItemsLeft {
    flex-direction: column;
    align-items: flex-end;
    gap: var(--gap-71xl);
    font-size: var(--footerfontlink-size);
}
.footerContainer,
.itemsContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    max-width: 100%;
}
.itemsContainer {
    width: 1120px;
    justify-content: space-between;
    gap: var(--gap-xl);
    z-index: 1;
}
.footerContainer {
    align-self: stretch;
    background-color: var(--blue);
    justify-content: center;
    padding: var(--padding-35xl) var(--padding-xl);
    box-sizing: border-box;
    min-height: 317px;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--color-white);
    font-family: var(--body2);
    position: relative;
    bottom: 0;
    width: 100%;
}
@media screen and (max-width: 1000px) {
    .in-style,
    .represent-your,
    .school-organization {
        font-size: var(--font-size-13xl);
    }
    .itemsContainer {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width: 750px) {
    .containerItemsRight {
        gap: 22px 44px;
    }
}
@media screen and (max-width: 450px) {
    .in-style,
    .represent-your,
    .school-organization {
        font-size: var(--body-size);
    }
    .containerItemsLeft {
        gap: 45px 90px;
    }
}
